@model SelectList
<h1>@ViewData["Title"]</h1>
<form method="post" asp-action="RemoveUserFromRole">
    <select name="userId" asp-items="@ViewBag.Users"></select>
    <select name="role" asp-items="@ViewBag.Roles"></select>
    <button type="submit">Remove User From Role</button>
    <p>@ViewBag.Message</p>
</form>
