@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome To BugTracker</h1>
</div>

<div class="pages">
    <h2 class="page1"><a asp-controller="Project" asp-action="Index">See Projects</a></h2>
    <h2 class="page2"><a asp-controller="Ticket" asp-action="Index">See Tickets</a></></h2>
</div>
