@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
</div>

<div class="pages">
    <h3 class="page1">See Projects</h3>
    <h3 class="page2">See Tickets</h3>
</div>
