html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.display-4 {
    animation: fadeInAnimation ease 1s;
}

.pages {
    margin-top: 3rem;
    text-align: center;
}

.pages a {
    text-decoration: none;
    color: black;
}

.pages a:hover {
    color: blue;
}

.page1 {
    opacity: 0;
    animation: fadeInAcross ease 2s;
    animation-delay: 1s;
    animation-fill-mode: forwards;
}

.page2 {
    opacity: 0;
    animation: fadeInAcross ease 2s;
    animation-delay: 1.1s;
    animation-fill-mode: forwards;
}

@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes fadeInAcross {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.title {
    margin-bottom: 2rem;
}

.table tbody {
    border-bottom: black 1px solid;
    border-left: black 1px solid;
    border-right: black 1px solid;
}

.table tbody tr:nth-child(even) {
    background-color: rgb(205, 209, 228);
}

.table thead tr {
    background-color: white;
}

.form-group {
    margin-bottom: 1rem;
}

.btn-danger {
    margin-bottom: 1rem;
    margin-top: 1rem;
}