html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.display-4 {
    animation: fadeInAnimation ease 2s;
}

.pages {
    margin-top: 3rem;
    text-align: center;
}

.pages a {
    text-decoration: none;
    color: black;
}

.pages a:hover {
    color: blue;
}

.page1 {
    opacity: 0;
    animation: fadeInAcross ease 2s;
    animation-delay: 2s;
    animation-fill-mode: forwards;
}

.page2 {
    opacity: 0;
    animation: fadeInAcross ease 2s;
    animation-delay: 2.5s;
    animation-fill-mode: forwards;
}

@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes fadeInAcross {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}